<div class="panel-header panel-header-lg">
  <img src="assets/img/header.jpg" alt="...">
</div>

<div class="main-content">
  <div class="row">

    <div class="col-lg-1">
    </div>

    <div class="col-md-6 col-lg-10">
      <div class="row">
        <app-distribucion-bernoulli></app-distribucion-bernoulli>
      </div>
      <div class="row">
        <app-distribucion-normal></app-distribucion-normal>
      </div>
      <div class="row">
        <app-distribucion-poisson></app-distribucion-poisson>
      </div>
    </div>

    <div class="col-lg-1">
    </div>

  </div>
</div>
