<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lineas</h4>
          <button class="btn btn-primary btn-sm">Crear linea</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nombre
                </th>
                <th>
                  # Vagones
                </th>
                <th>
                  # Paradas
                </th>
                <th class="text-right">
                  Opciones
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let linea of lineaList">
                  <td>{{linea.nombre}} </td>
                  <td>{{linea.vagones.length}}</td>
                  <td>{{linea.paradas.length}}</td>
                  <td class="text-right">
                    <button type="button" routerLink="/lineasimulacion" class="btn btn-primary btn-sm">Iniciar
                      simulacion</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
